@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,500i,700,900');

.main-menu {
	background-color: #fafafa;
	padding: 15px 0px;
	border-bottom: 2px solid #ff8b40;
}

#navlogo {
	max-width: 125px;
	height: auto;
}

#uttephone {
	color: #ff8b40;
	text-decoration: none;
	transition: all 0.2s;
}

#uttephone:hover {
	transition: all 0.2s;
	cursor: pointer;
	color: #fafafa;
}

#footlogo {
	max-width: 50%;
	margin-top: 30px;
	height: auto;
	float: left;
}

#copyright {
	color: #fafafa;
	font-size: 12px;
	text-align: center;
	font-weight: 100;
	font-family: 'Roboto', 'sans-serif';
}

.bottom {
	position: absolute;
   	bottom: 0px;
   	text-align: center;
  	width: 94.5%;
}

#tiny-right {
	margin-left: 5px;
}

.welcome {
	color: #121212;
	margin-bottom: 0px;
	margin-top: 5px;
	font-size: 1.3em
}